<html>

<head>

	<title>GitStarter</title>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>


	<script src="../scripts/homePage.js"></script>
 	<link rel="stylesheet" type="text/css" href="../styles/homePage.css"></link>
 	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" type="text/css" charset="utf-8">
 	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js"></script>
	<script src="../scripts/vue-charts.js"></script>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</head>

<body>
	<h1 style="text-align: center"><b>Frequently Asked Questions</b></h1>
	<br></br>
	<h2 style="text-align: center; color: blue"><b>What is GitStarter?</b></h2>
	<br></br>
	<h3 style="font-family: Arial; text-align: center">GitStarter is an open source investment app made by and for developers. Anyone can check out Github projects and buy or sell them.</h3>
	<br></br>
	<h2 style="text-align: center; color: blue"><b>What is the purpose of GitStarter?</b></h2>
	<br></br>
	<h3 style="font-family: Arial; text-align: center">GitStarter allows individuals to invest in projects developed by programmers who have a passion for computer science and have a knack for app development. This is a platform that invests in these open-source projects so we can continue to move the world forward.</h3>
	<br></br>
	<h2 style="text-align: center; color: blue"><b>What are the different features on GitStarter?</b></h2>
	<br></br>
	<h3 style="font-family: Arial; text-align: center">Any user on GitStarter can buy and sell Github repositories and track the progress of their investments in terms of the number of commits and activity that the contributors that own the project has put in.</h3>
	<br></br>
	<h2 style="text-align: center; color: blue"><b>How can I invest in a project?</b></h2>
	<br></br>
	<h3 style="font-family: Arial; text-align: center">A user can start by searching for the Github project that he or she would be interested in investing in and click buy to own a share of the project and track their investments. A user can also sell a project and receive any dividends returned.</h3>
	<br></br>
</body>
</html>