<html>

<head>

	<title>GitStarter</title>

	<script src="https://code.jquery.com/jquery-latest.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="../scripts/mainPage.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.min.js"></script>
  <script src="../scripts/vue-charts.js"></script>
	<!-- <script src="../../../node_modules/vue-infinite-scroll/vue-infinite-scroll.js"></script> -->
 	<link rel="stylesheet" type="text/css" href="../styles/mainPage.css"></link>

 	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" type="text/css" charset="utf-8">
 	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/x-template" id="search-template">
		<tr :id="index">
	            <td class="tableEl" style="font-size:30px;"><img :src="icon" height="42" width="42"> <a :href="ownerurl" target="_blank">{{author}}</a>/
	            <a :href="projecturl" target="_blank">{{projectname}}</a>
	            <br>
	            {{projectdescription}}
	           	<br>
	            <b>Price: {{price}}</b>
                <button type="button" id="sellButton" class="btn btn-default" v-on:click="showSellModal"><b>Sell</b></button>
               <button type="button" id="buyButton" class="btn btn-default" v-on:click="showBuyModal"><b>Buy</b></button>
              <button type="button" class="btn btn-default" v-on:click="weekly"><b>Show Details</b></button>
	           </td>
             <div class="container" id="modalSell" v-if="showSell">
          <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" v-on:click="closeSellModal">&times;</button>
              <h5 class="modal-title">Verify Sell</h5>
            </div>
          <div class="modal-body">
            <a><b>Are you sure you want to sell {{projectname}} by {{author}}?</b></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" v-on:click="confirmSell">Yes</button>
          <button type="button" class="btn btn-default" v-on:click="denySell">No</button>
        </div>
      </div>
      </div>
      </div>
					 <div class="container" id="modalBuy" v-if="showBuy">
          <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" v-on:click="closeBuyModal">&times;</button>
              <h5 class="modal-title">Verify Purchase</h5>
            </div>
          <div class="modal-body">
            <a><b>Are you sure you want to buy {{projectname}} by {{author}}?</b></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" v-on:click="confirmBuy">Yes</button>
          <button type="button" class="btn btn-default" v-on:click="denyBuy">No</button>
        </div>
      </div>
      </div>
      </div>
				<div class="container" id="modalGraph" v-if="showGraph">
  				<div class="modal-dialog">
    			<div class="modal-content">
      			<div class="modal-header">
              <button type="button" class="close" v-on:click="closeGraphModal">&times;</button>
        		  <h5 class="modal-title">Details Overtime</h5>
      			</div>
      			<div class="modal-body">
              <div id="buttonOptionSet">
                <button type="button" v-on:click="weekly()" class="btn btn-default">Weekly</button>
                <button type="button" v-on:click="monthly()" class="btn btn-default">Monthly</button>
                <button type="button" v-on:click="yearly()" class="btn btn-default">Annually</button>
              </div>

							<div v-model="headerTitle" class="lineGraphHeader">{{headerTitle}}</div>

        		<vue-chart
            :columns="columnsData"
            :rows="rowsData"
            :options="optionsData"
        		></vue-chart>
      			</div>
      			<div class="modal-footer">
        		<button type="button" id="OK" class="btn-lg btn-primary" v-on:click="closeGraphModal">OK</button>
     		 	</div>
    			</div>
  				</div>
  				</div>
      </tr>
	 </script>

	 <script type="text/x-template" id="navbar-template">
	 	<div id="contain">
	 	<a v-on:click="openpopup">{{projectownedname}}</a>
	 	<div class="container" v-if="isProjectModal" id="modalProject">
	 		<div class="modal-dialog">
	 		<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" v-on:click="closeProjectModal">&times;</button>
        		<h5 class="modal-title" style="text-align: center">{{projectownedname}} Investment Details</h5>
      		</div>
      		<div class="modal-body">
        		<div id="buttonOptionSet">
                <button type="button" v-on:click="weekly()" class="btn btn-default">Weekly</button>
                <button type="button" v-on:click="monthly()" class="btn btn-default">Monthly</button>
                <button type="button" v-on:click="yearly()" class="btn btn-default">Annually</button>
            </div>

              <div v-model="headerTitle" class="lineGraphHeader">{{headerTitle}}</div>

              <vue-chart
            :columns="columnsData"
            :rows="rowsData"
            :options="optionsData"
            ></vue-chart>
      		</div>
      		<div class="modal-footer">
        		<button type="button" id="buttonOk" style="background-color:#337ab7" class="btn btn-default" v-on:click="closeProjectModal">OK</button>
      		</div>
  		</div>
  	</div>
  	</div>
  	</div>
  	</script>


</head>



<body onload="onLoad()">



	<!-- Change this -->
	<div id="OrderPickContainer">


		<div id="jumbo" class="jumbotron hero-nature">

		<nav id="navbar" class="navbar navbar-default navbar-fixed-top">

		<span id="hamburger" onclick="openNav()">&#9776;</span>
			<button id="logoutButton" v-on:click="BacktoHomePage">Logout</button>
			<div class="typewriter">
			<div id="projectTitle">
		  		<h1 id=upperText>GitStarter</h1>
		  	</div>
			</div>
		<div id="mySidenav" class="sidenav">
			<h1>My Projects</h1>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  			<ul style="list-style-type:none">
  				<navbar-box v-for="data,key in ownedProjects"
  					v-bind:projectownedname="data.ProjectName">
  				</navbar-box>

  			</li>
  		</ul>
	</div>
		</div>



	<h1 id="welcomeTag">Welcome {{user}}</h1>
	<h2 id="introduceBalanceTag">Here is your balance:</h2>
	<h1 id="balanceTag"><b>{{balanceAmount}}</b></h1>
	<div style="text-align:center;">
		<button id="balanceDetails" type="button" class="btn btn-default btn-lg" v-on:click="showBalanceModal">View Details</button>
	</div>
	<br></br>

	<div class="container" id="modalBalance" v-show="isBalanceModal">
  	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" v-on:click="closeBalanceModal">&times;</button>
        <h5 class="modal-title">Balance Details</h5>
      </div>
      <div class="modal-body">
        <vue-chart
            :columns="columnsWeek"
            :rows="rowsWeek"
            :options="optionsWeek"
            ></vue-chart>
      </div>
      <div class="modal-footer">
        <button type="button" id="confirmAddYes" class="btn-lg btn-primary" v-on:click="closeBalanceModal">OK</button>
      </div>
    </div>
  	</div>
  	</div>


		<div class="form-group row" id=centered>
  		<div class="col-10">
    	<input id="searchBar" class="form-control" type="search" placeholder="Search for projects" v-model="searchWords" v-on:keyup.enter="search">
 		</div>
    <h2 id="tableError" v-model="tableErrorMessage">{{ tableErrorMessage }}</h2>
		</div>

	 	<h1 id="tableTitle" v-model="tableHeader"><b>{{ tableHeader }}</b></h1>
	 	<table v-infinite-scroll="loadMore" infinite-scroll-disabled="false" infinite-scroll-distance="10" class="table table-hover" id="table1">
	 		<tbody>
	        <tr is="search-box" v-for="project, key in ProjectsLists"
	        	v-bind:icon="project.Icon"
	        	v-bind:ownerurl="project.OwnerURL"
	        	v-bind:author="project.Author"
	        	v-bind:projecturl="project.ProjectURL"
	        	v-bind:projectname="project.ProjectName"
	        	v-bind:projectdescription="project.ProjectDescription"
	        	v-bind:price="project.Prices"
	        	v-bind:index="key">
	        </tr>

	            <div class="container" id="modalSell" v-show="isSellModal">
  				<div class="modal-dialog">
    			<div class="modal-content">
      			<div class="modal-header">
              <button type="button" class="close" v-on:click="closeSellModal">&times;</button>
        		  <h5 class="modal-title">Confirm Sell</h5>
      			</div>
      			<div class="modal-body">
        		<strong>Are you sure you want to sell this?</strong>
      			</div>
      			<div class="modal-footer">
        		<button type="button" class="btn-lg btn-primary" v-on:click="closeSellModal">OK</button>
     		 	</div>
    			</div>
  				</div>
  				</div>

  				<div class="container" id="modalBuy" v-show="isBuyModal">
  				<div class="modal-dialog">
    			<div class="modal-content">
      			<div class="modal-header">
              <button type="button" class="close" v-on:click="closeBuyModal">&times;</button>
        		  <h5 class="modal-title">Confirm Buy</h5>
      			</div>
      			<div class="modal-body">
        		<strong>Are you sure you want to buy this?</strong>
      			</div>
      			<div class="modal-footer">
        		<button type="button" class="btn-lg btn-primary" v-on:click="closeBuyModal">OK</button>
     		 	</div>
    			</div>
  				</div>
  				</div>

	                <!-- <td>{{batch.Icon}}</td>
	                <td>{{batch.ProjectName}}</td>
	                <td>{{batch.Prices}}</td>

	                 -->
	   </tbody>
	</table>
</div>


</body>
</html>
